@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Bona Nova SC", serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #141c22;
}
.card
{
   position: relative; 
   width: 300px;
   height: 400px;
   background: -moz-linear-gradient(#2196f3,#2196f3 30%,
  #1d3548 30% #1d3548 100);
}